*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

.bg-website {
  background-image: url("../images/bg-main-desktop.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 30vw;
  height: 95vh;
}

.card-container {
  width: 100%;
  height: 50vw;
}

.card-box {
  width: 27vw;
  height: 14.5vw;
  box-shadow: rgba(31, 31, 32, 0.2) 0px 8px 24px;
}

.card-back {
  top: 25.6vw;
  left: 14vw;
  background-image: url("../images/bg-card-back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-back p {
  top: 6.3vw;
  left: 21.5vw;
  font-size: 1vw;
}

.card-front {
  top: 8.9vw;
  left: 8vw;
  background-image: url("../images/bg-card-front.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-front img {
  top: 1.6vw;
  left: 1.6vw;
  width: 20%;
  height: auto;
}

.card-front :nth-child(2) {
  top: 8vw;
  left: 2vw;
  font-size: 1.6vw;
  letter-spacing: 0.3vw;
}

.card-front :nth-child(3) {
  top: 11.8vw;
  left: 2vw;
  font-size: 0.8vw;
  letter-spacing: 0.1vw;
}

.card-front :nth-child(4) {
  top: 11.8vw;
  left: 22vw;
  font-size: 0.8vw;
  letter-spacing: 0.1vw;
}

/* Message */

.messsage {
  width: 100%;
}

.messsage h1 {
  font-size: 3vw;
}

.messsage p {
  color: #8C888D;
  font-size: 1.3vw;
}

.messsage a {
  background-color: #220A30;
  width: 35%;
}

@media screen and (max-width: 767px) {
  
  .bg-website {
    background-image: url("../images/bg-main-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 30vw;
    height: 62vw;
  }
  
  .card-container {
    width: 100%;
    height: 50vw;
  }

  .card-box {
    height: 80%;
    width: 75%;
    background-color: blanchedalmond;
  }

  .card-back {
    top: 5vw;
    left: 23vw;
  }

  .card-back p {
    top: 17.5vw;
    left: 55vw;
    font-size: 3vw;
  }
  
  .card-front {
    top: 27.5vw;
    left: 5vw;
  }

  .card-front img {
    top: 4vw;
    left: 4vw;
    width: 20%;
    height: auto;
  }

  .card-front :nth-child(2) {
    top: 21vw;
    left: 5vw;
    font-size: 4.4vw;
    letter-spacing: 0.4vw;
  }

  .card-front :nth-child(3) {
    top: 31vw;
    left: 5vw;
    font-size: 2.7vw;
    letter-spacing: 0.4vw;
  }

  .card-front :nth-child(4) {
    top: 31vw;
    left: 52vw;
    font-size: 2.7vw;
    letter-spacing: 0.4vw;
  }

  /* Message */
  .messsage {
    height: 45vh;
  }

  .messsage h1 {
    font-size: 6vw;
  }

  .messsage p {
    font-size: 3vw;
  }

  .messsage a {
    width: 90%;
  }

  
}

/* Footer  */
.attribution {
  height: 5vh;
}

